pipeline/BRAVO SDE DIM.json
{
	"name": "BRAVO SDE DIM",
	"properties": {
		"activities": [
			{
				"name": "ForEach1_copy1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "If Condition1_copy1_copy1",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(1,1)",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Copy data",
										"type": "Copy",
										"dependsOn": [
											{
												"activity": "start",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "SqlServerSource",
												"additionalColumns": [
													{
														"name": "W_BATCH_ID",
														"value": {
															"value": "@pipeline().parameters.p_batch_id",
															"type": "Expression"
														}
													},
													{
														"name": "W_INSERT_DT",
														"value": {
															"value": "@addhours(utcnow(),7)",
															"type": "Expression"
														}
													},
													{
														"name": "W_DATASOURCE_NAME",
														"value": "BRV"
													}
												],
												"sqlReaderQuery": {
													"value": "@item().JOB_SCRIPT",
													"type": "Expression"
												},
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"sink": {
												"type": "SqlDWSink",
												"preCopyScript": {
													"value": "IF OBJECT_ID('@{item().TARGET_SCHEMA}.@{item().TARGET_TABLE}') IS NOT NULL\n    TRUNCATE TABLE @{item().TARGET_SCHEMA}.@{item().TARGET_TABLE}",
													"type": "Expression"
												},
												"writeBehavior": "Insert",
												"sqlWriterUseTableLock": false,
												"tableOption": "autoCreate",
												"disableMetricsCollection": false
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "gs_bravo",
												"type": "DatasetReference",
												"parameters": {
													"schema": "''",
													"name": "''"
												}
											}
										],
										"outputs": [
											{
												"referenceName": "PGSWH",
												"type": "DatasetReference",
												"parameters": {
													"Schema": {
														"value": "@item().TARGET_SCHEMA",
														"type": "Expression"
													},
													"Table": {
														"value": "@item().TARGET_TABLE",
														"type": "Expression"
													}
												}
											}
										]
									},
									{
										"name": "start",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[ADF].[proc_etl_log_message]",
											"storedProcedureParameters": {
												"p_batch_id": {
													"value": {
														"value": "@pipeline().parameters.p_batch_id",
														"type": "Expression"
													},
													"type": "Int64"
												},
												"p_error_code": {
													"value": "",
													"type": "String"
												},
												"p_error_message": {
													"value": "",
													"type": "String"
												},
												"p_job_id": {
													"value": {
														"value": "@item().JOB_ID",
														"type": "Expression"
													},
													"type": "Int64"
												},
												"p_log_message": {
													"value": {
														"value": "Start load table @{item().TARGET_TABLE}",
														"type": "Expression"
													},
													"type": "String"
												},
												"p_log_status": {
													"value": "",
													"type": "String"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "PGSWH",
											"type": "LinkedServiceReference"
										}
									},
									{
										"name": "end_success",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "Copy data",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[ADF].[proc_etl_log_message]",
											"storedProcedureParameters": {
												"p_batch_id": {
													"value": {
														"value": "@pipeline().parameters.p_batch_id",
														"type": "Expression"
													},
													"type": "Int64"
												},
												"p_error_code": {
													"value": "",
													"type": "String"
												},
												"p_error_message": {
													"value": "",
													"type": "String"
												},
												"p_job_id": {
													"value": {
														"value": "@item().JOB_ID",
														"type": "Expression"
													},
													"type": "Int64"
												},
												"p_log_message": {
													"value": {
														"value": "Finished load table @{item().TARGET_TABLE}",
														"type": "Expression"
													},
													"type": "String"
												},
												"p_log_status": {
													"value": "END",
													"type": "String"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "PGSWH",
											"type": "LinkedServiceReference"
										}
									},
									{
										"name": "end_fail",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "Copy data",
												"dependencyConditions": [
													"Failed"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[ADF].[proc_etl_log_message]",
											"storedProcedureParameters": {
												"p_batch_id": {
													"value": {
														"value": "@pipeline().parameters.p_batch_id",
														"type": "Expression"
													},
													"type": "Int64"
												},
												"p_error_code": {
													"value": "",
													"type": "String"
												},
												"p_error_message": {
													"value": "",
													"type": "String"
												},
												"p_job_id": {
													"value": {
														"value": "@item().JOB_ID",
														"type": "Expression"
													},
													"type": "Int64"
												},
												"p_log_message": {
													"value": {
														"value": "Finished load table @{item().TARGET_TABLE}",
														"type": "Expression"
													},
													"type": "String"
												},
												"p_log_status": {
													"value": "ERROR",
													"type": "String"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "PGSWH",
											"type": "LinkedServiceReference"
										}
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderStoredProcedureName": "[ADF].[proc_etl_get_job]",
						"storedProcedureParameters": {
							"group_name": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.group_name",
									"type": "Expression"
								}
							},
							"group_number": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.group_number",
									"type": "Expression"
								}
							},
							"p_batch_id": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.p_batch_id",
									"type": "Expression"
								}
							},
							"p_job_group": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.p_job_group",
									"type": "Expression"
								}
							},
							"p_job_id": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.p_job_id",
									"type": "Expression"
								}
							},
							"p_job_sub_group": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.p_job_sub_group",
									"type": "Expression"
								}
							},
							"p_order": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.p_order",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "PGSWH",
						"type": "DatasetReference",
						"parameters": {
							"Schema": "''",
							"Table": "''"
						}
					},
					"firstRowOnly": false
				}
			}
		],
		"parameters": {
			"p_batch_id": {
				"type": "string",
				"defaultValue": "1"
			},
			"p_job_group": {
				"type": "string",
				"defaultValue": "BRV"
			},
			"p_job_id": {
				"type": "string",
				"defaultValue": "ALL"
			},
			"p_order": {
				"type": "string",
				"defaultValue": "ALL"
			},
			"ENTITY": {
				"type": "string"
			},
			"p_job_sub_group": {
				"type": "string",
				"defaultValue": "SDE DIM"
			},
			"group_name": {
				"type": "string",
				"defaultValue": "DX01"
			},
			"group_number": {
				"type": "string",
				"defaultValue": "ALL"
			}
		},
		"folder": {
			"name": "BRAVO"
		},
		"annotations": [],
		"lastPublishTime": "2024-02-20T07:51:27Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}