pipeline/BRAVO SDE FACT TEST.json
{
	"name": "BRAVO SDE FACT TEST",
	"properties": {
		"activities": [
			{
				"name": "Lookup1_copy1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "gs_bravo",
						"type": "DatasetReference",
						"parameters": {
							"schema": "''",
							"name": "''"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1_copy1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1_copy1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1_copy1').output.value",
						"type": "Expression"
					},
					"batchCount": 3,
					"activities": [
						{
							"name": "If Condition1_copy1_copy1",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "start",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(1,1)",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "pipeline1_copy1_copy1",
										"type": "ExecutePipeline",
										"dependsOn": [],
										"policy": {
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"pipeline": {
												"referenceName": "loop entity",
												"type": "PipelineReference"
											},
											"waitOnCompletion": true,
											"parameters": {
												"ENTITY": {
													"value": "@if(equals(pipeline().parameters.ENTITY,null),item().W_ENTITY,pipeline().parameters.ENTITY)",
													"type": "Expression"
												},
												"script": {
													"value": "@{item().JOB_SCRIPT}",
													"type": "Expression"
												},
												"W_ACCOUNT": {
													"value": "@{item().W_ACCOUNT}",
													"type": "Expression"
												},
												"W_BATCH_ID": {
													"value": "@pipeline().parameters.p_batch_id",
													"type": "Expression"
												},
												"RUN_MANUAL": {
													"value": "@pipeline().parameters.RUN_MANUAL",
													"type": "Expression"
												}
											}
										}
									}
								]
							}
						},
						{
							"name": "start",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[ADF].[proc_etl_log_message]",
								"storedProcedureParameters": {
									"pBATCH_ID": {
										"value": {
											"value": "@pipeline().parameters.p_batch_id",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"pERROR_CODE": {
										"value": "",
										"type": "String"
									},
									"pERROR_MESSAGE": {
										"value": "",
										"type": "String"
									},
									"pJOB_ID": {
										"value": {
											"value": "@item().JOB_ID",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"pJOB_NAME": {
										"value": "",
										"type": "String"
									},
									"pLOG_MESSAGE": {
										"value": {
											"value": "Start load table @{item().TGT_TABLE}",
											"type": "Expression"
										},
										"type": "String"
									},
									"pLOG_STATUS": {
										"value": "",
										"type": "String"
									},
									"pSTAGE_GROUP": {
										"value": "",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "PGSWH",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "end_success",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "If Condition1_copy1_copy1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[ADF].[proc_etl_log_message]",
								"storedProcedureParameters": {
									"pBATCH_ID": {
										"value": {
											"value": "@pipeline().parameters.p_batch_id",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"pERROR_CODE": {
										"value": "0",
										"type": "String"
									},
									"pERROR_MESSAGE": {
										"value": "",
										"type": "String"
									},
									"pJOB_ID": {
										"value": {
											"value": "@item().JOB_ID",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"pJOB_NAME": {
										"value": "",
										"type": "String"
									},
									"pLOG_MESSAGE": {
										"value": {
											"value": "Finished load table @{item().TGT_TABLE}",
											"type": "Expression"
										},
										"type": "String"
									},
									"pLOG_STATUS": {
										"value": "END",
										"type": "String"
									},
									"pSTAGE_GROUP": {
										"value": "",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "PGSWH",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "end_fail",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "If Condition1_copy1_copy1",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[ADF].[proc_etl_log_message]",
								"storedProcedureParameters": {
									"pBATCH_ID": {
										"value": {
											"value": "@pipeline().parameters.p_batch_id",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"pERROR_CODE": {
										"value": "1",
										"type": "String"
									},
									"pERROR_MESSAGE": {
										"value": {
											"value": "@activity('pipeline1_copy1_copy1').output.error.Message",
											"type": "Expression"
										},
										"type": "String"
									},
									"pJOB_ID": {
										"value": {
											"value": "@item().JOB_ID",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"pJOB_NAME": {
										"value": "",
										"type": "String"
									},
									"pLOG_MESSAGE": {
										"value": {
											"value": "Finished load table @{item().TGT_TABLE}",
											"type": "Expression"
										},
										"type": "String"
									},
									"pLOG_STATUS": {
										"value": "ERROR",
										"type": "String"
									},
									"pSTAGE_GROUP": {
										"value": "",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "PGSWH",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"p_batch_id": {
				"type": "string",
				"defaultValue": "1"
			},
			"p_job_group": {
				"type": "string",
				"defaultValue": "BRAVO"
			},
			"p_job_id": {
				"type": "string",
				"defaultValue": "ALL"
			},
			"p_order": {
				"type": "string",
				"defaultValue": "ALL"
			},
			"ENTITY": {
				"type": "string"
			},
			"p_stage_group": {
				"type": "string",
				"defaultValue": "SDE"
			},
			"RUN_MANUAL": {
				"type": "string",
				"defaultValue": "0"
			}
		},
		"variables": {
			"batch_id": {
				"type": "String"
			}
		},
		"folder": {
			"name": "TEST"
		},
		"annotations": [],
		"lastPublishTime": "2024-02-19T10:03:11Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}