pipeline/POSTGRES SDE DIM.json
{
	"name": "POSTGRES SDE DIM",
	"properties": {
		"activities": [
			{
				"name": "ForEach",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup').output.value",
						"type": "Expression"
					},
					"batchCount": 20,
					"activities": [
						{
							"name": "start",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[ADF].[proc_etl_log_message]",
								"storedProcedureParameters": {
									"p_batch_id": {
										"value": {
											"value": "@pipeline().parameters.p_batch_id",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"p_error_code": {
										"value": "",
										"type": "String"
									},
									"p_error_message": {
										"value": "",
										"type": "String"
									},
									"p_job_id": {
										"value": {
											"value": "@item().JOB_ID",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"p_log_message": {
										"value": {
											"value": "Start load table @{item().TARGET_TABLE}",
											"type": "Expression"
										},
										"type": "String"
									},
									"p_log_status": {
										"value": "",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "PGSWH",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "end_success",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Copy data",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[ADF].[proc_etl_log_message]",
								"storedProcedureParameters": {
									"p_batch_id": {
										"value": {
											"value": "@pipeline().parameters.p_batch_id",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"p_error_code": {
										"value": "",
										"type": "String"
									},
									"p_error_message": {
										"value": "",
										"type": "String"
									},
									"p_job_id": {
										"value": {
											"value": "@item().JOB_ID",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"p_log_message": {
										"value": {
											"value": "Finished load table @{item().TARGET_TABLE}",
											"type": "Expression"
										},
										"type": "String"
									},
									"p_log_status": {
										"value": "END",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "PGSWH",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "end_fail",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Copy data",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[ADF].[proc_etl_log_message]",
								"storedProcedureParameters": {
									"p_batch_id": {
										"value": {
											"value": "@pipeline().parameters.p_batch_id",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"p_error_code": {
										"value": "",
										"type": "String"
									},
									"p_error_message": {
										"value": {
											"value": "@activity('Copy data').output.errors[0].Message\r\n",
											"type": "Expression"
										},
										"type": "String"
									},
									"p_job_id": {
										"value": {
											"value": "@item().JOB_ID",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"p_log_message": {
										"value": {
											"value": "Load failed table @{item().TARGET_TABLE}",
											"type": "Expression"
										},
										"type": "String"
									},
									"p_log_status": {
										"value": "ERROR",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "PGSWH",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Copy data",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "start",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzurePostgreSqlSource",
									"additionalColumns": [
										{
											"name": "W_BATCH_ID",
											"value": {
												"value": "@pipeline().parameters.p_batch_id",
												"type": "Expression"
											}
										},
										{
											"name": "W_INSERT_DT",
											"value": {
												"value": "@addhours(utcnow(),7)",
												"type": "Expression"
											}
										},
										{
											"name": "W_DATASOURCE_NAME",
											"value": {
												"value": "@pipeline().parameters.p_job_group",
												"type": "Expression"
											}
										}
									],
									"query": {
										"value": "@item().JOB_SCRIPT",
										"type": "Expression"
									},
									"partitionOption": "None"
								},
								"sink": {
									"type": "SqlDWSink",
									"preCopyScript": {
										"value": "DELETE @{item().TARGET_SCHEMA}.@{item().TARGET_TABLE} WHERE W_BATCH_ID <> '@{pipeline().parameters.p_batch_id}'\n",
										"type": "Expression"
									},
									"writeBehavior": "Insert",
									"sqlWriterUseTableLock": false,
									"tableOption": "autoCreate",
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "POSTGRES",
									"type": "DatasetReference",
									"parameters": {
										"SCHEMA": "''",
										"TABLE_NAME": "''"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "PGSWH",
									"type": "DatasetReference",
									"parameters": {
										"Schema": {
											"value": "@item().TARGET_SCHEMA",
											"type": "Expression"
										},
										"Table": {
											"value": "@item().TARGET_TABLE",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Lookup",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderStoredProcedureName": "[ADF].[proc_etl_get_job]",
						"storedProcedureParameters": {
							"group_name": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.group_name",
									"type": "Expression"
								}
							},
							"group_number": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.group_number",
									"type": "Expression"
								}
							},
							"p_batch_id": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.p_batch_id",
									"type": "Expression"
								}
							},
							"p_job_group": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.p_job_group",
									"type": "Expression"
								}
							},
							"p_job_id": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.p_job_id",
									"type": "Expression"
								}
							},
							"p_job_sub_group": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.p_job_sub_group",
									"type": "Expression"
								}
							},
							"p_order": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.p_order",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "PGSWH",
						"type": "DatasetReference",
						"parameters": {
							"Schema": "''",
							"Table": "''"
						}
					},
					"firstRowOnly": false
				}
			}
		],
		"parameters": {
			"p_batch_id": {
				"type": "string",
				"defaultValue": "1"
			},
			"p_job_group": {
				"type": "string",
				"defaultValue": "PGSQL"
			},
			"p_job_id": {
				"type": "string",
				"defaultValue": "ALL"
			},
			"p_order": {
				"type": "string",
				"defaultValue": "ALL"
			},
			"p_job_sub_group": {
				"type": "string",
				"defaultValue": "SDE DIM"
			},
			"group_name": {
				"type": "string",
				"defaultValue": "DX01"
			},
			"group_number": {
				"type": "string",
				"defaultValue": "ALL"
			}
		},
		"folder": {
			"name": "POSTGRES"
		},
		"annotations": [],
		"lastPublishTime": "2024-02-26T11:40:11Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}